*{
    height: 100%;
}
    .div grid{border-radius: 50px;
    border-color: rgb(31, 114, 31);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: unset;
    color: rgb(134, 209, 134);
}