/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: green;
}
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, "Helvetica Neue", sans-serif;
}
